<div class="row margin-bottom-20">
   <div class="col-md-12 col-sm-12 text-center">
   
   <!-- <form>
    <div class="input-group mar-btm">
      <div class="input-group-btn">
        <select class="form-control vzbs-dropdown" id="main-search-by" ng-model="$ctrl.searchBy">
        <option value="">Search By</option>
        <option ng-repeat="searchType in $ctrl.searchTypes" value="{{searchType.value}}">{{searchType.label}}</option>
      </select>
      </div>
      
      <input type="text" id="main-search-with" class="form-control" placeholder="Search...">
      <div class="input-group-btn">
          <button type="button" class="btn btn-xs search-btn" ng-click=''>
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
       
      </div>
       </form>  -->
   </div>
 </div>

<!-- Buttons -->

<div class="clearfix">

     <div class="col-sm-12">
      <div class="row">
        <div ng-include="'../app/views/tabs/keyword_analysis.html'"></div>
       
      <!--   <div class="col-sm-7 five-three">
          <div class="row">
            <div class="col-sm-4">
            <p><a href="#home" role="button" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-default urlspe" style="margin-left: -14px;">URL Specific Dashboard</a></p>
            </div>

            <div class="col-sm-4">
            <p><a href="#profile" role="button" class="btn btn-default crw" style="margin-left: 10px; width: 110%;"  aria-controls="profile" role="tab" data-toggle="tab">Crawling Data</a></p>
            </div>
            <div class="col-sm-4">
            <p><a href="#messages" role="button" class="btn btn-default keywrd" style="margin-left: 8px; width: 108%;"  aria-controls="profile" role="tab" data-toggle="tab">Keyword Analysis</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 five-two">
          <div class="row">
            <div class="col-sm-6  col-xs-12">
             <p><a href="#tab4" role="button" class="btn btn-default comp"  aria-controls="profile" role="tab" data-toggle="tab">Competition Ranking</a></p>
            </div>
            <div class="col-sm-6  col-xs-12">
              <p><a href="#tab5" role="button" class="btn btn-default repo"  aria-controls="profile" role="tab" data-toggle="tab">Reports and Trends</a></p>
            </div>
          </div>
        </div> -->
      </div>
      </div>
  </div>
