 <div ng-include="'../app/views/dashboard.html'"></div>
 

    <!-- Tab panes -->
  
    <!-- Tab panes -->
    <!-- <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home" aria-labelledby="home-tab">
         <div ng-include="'../app/views/tabs/url_specification.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile" aria-labelledby="profile-tab">
        <div ng-include="'../app/views/tabs/crawling_data.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages" aria-labelledby="messages-tab">
        <div ng-include="'../app/views/tabs/keyword_analysis.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab4" aria-labelledby="messages-tab">
        <div ng-include="'../app/views/tabs/competition_ranking.html'"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab5" aria-labelledby="messages-tab">
        <div ng-include="'../app/views/tabs/reports_and_trends.html'"></div>
      </div>
    </div> -->
  
               